# -*- conf -*-
[user]
	name = Michael V. DePalatis
	email = mike@depalatis.net
[include]
	path = ~/.gitconfig.local
[diff]
	tool = meld
[merge]
	tool = meld
[alias]
	pushall = "!f(){ for i in `git remote`; do git push $i; done; };f"
	graph = log --all --oneline --color --graph --decorate=short --date=short
	glog = log --oneline --color --graph --decorate=short --date=short
	last = !git graph -n 10
        upstream-merge = !bash -c 'git checkout master && git fetch --prune && git fetch upstream && git merge upstream/master && git push'
[push]
	default = simple
[core]
	editor = vim
	excludesfile = "~/dotfiles/.gitignore"
	autocrlf = input
[credential]
	helper = store
[hubflow.branch]
        master = main
[pull]
	ff = only
[init]
	defaultBranch = main
[grep]
	lineNumber = true
