[submodule "nanorc"]
	path = nanorc
	url = git@github.com:mivade/nanorc.git
[submodule "cookiecutters/cookiecutter-pypackage"]
	path = cookiecutters/cookiecutter-pypackage
	url = git@github.com:mivade/cookiecutter-pypackage.git
[submodule "cookiecutters/cookiecutter-tornado-app"]
	path = cookiecutters/cookiecutter-tornado-app
	url = git@github.com:mivade/cookiecutter-tornado-app.git
