*~
*.elc
*.pyc
.emacs.d/auto-save-list/
.emacs.d/customize.el
.emacs.d/elpa/
.emacs.d/elpy/
.emacs.d/ac-comphist.dat
.emacs.d/eproject.lst
.emacs.d/ido.last
.emacs.d/tramp
ede-projects.el
.config/Code/User/workspaceStorage
.nanorc

# VSCode ignored files
vscode/.config/Code/
vscode/.config/Code/User/globalStorage/
vscode/.config/Code/User/workspaceStorage/
!vscode/.config/Code/User