[submodule "nanorc"]
	path = nanorc
	url = https://github.com/nanorc/nanorc.git
[submodule "cookiecutters/cookiecutter-pypackage"]
	path = cookiecutters/cookiecutter-pypackage
	url = https://github.com/mivade/cookiecutter-pypackage.git
